{
    servers {
        trusted_proxies static private_ranges
        client_ip_headers X-Real-IP
    }
}

{
	debug
}

:{$PORT} {
    # Only allow specific IP to reverse proxy
    @allowed {
        client_ip {$ALLOWED_PROXY_IP}
    }
    
    # Handle requests from allowed IP
    handle @allowed {
        reverse_proxy n8n.railway.internal:5678
    }

    # Reject all other requests
    handle {
        respond 403
    }
}
